.regist-button, .links, .icon{
    margin: 20px;
}
  
.footer {
    background-color: #FFFE03; 
    color: black; 
    padding: 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.regst-button{
    padding: 0.5rem 0.9rem;
    background-color: #096AB8;
    border: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 2rem;
    font-family: system-ui;    
    font-weight: 500;
}

.regst-button a:hover {
    background-color: #8d8c8c; 
}


.links a {
    color: black; 
    text-decoration: none; 
    
    transition: color 0.3s; 
}

.links a:hover {
    color: #aaa;
}

.icon{
    color: black;
    text-decoration: none; 
    margin-right: 60px;
}

.foot{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.1px;
    margin:0;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

li {
margin-bottom: 5px;
}
      
  
  
    
    