body, html {
    margin: 0;
    padding: 0;
}

.footer { 
    background-color: #FFFE03;
    padding: 1vw;
    color: black;
    width: 100vw;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 8vh;
}

.contacts {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

a {
    position: relative;
    color: black; 
    text-decoration: none; 
    transition: color 0.3s; 
    font-size: 1.4vw;
    vertical-align: top;
}
.icon {
    color: black;
    text-decoration: none; 
    margin-right: 0.5vw;
    vertical-align: bottom;
    font-size: 1.6vw;
}
@media screen and (max-width: 340px) {
    .footer { 
        height: 8vh;
        padding: 2vw 0;
    }
    a {
        font-size: 4vw;
    }
    .icon {
        margin-right: 1.5vw;
        font-size: 4vw;
    }
    }
@media screen and (min-width: 340px) and (max-width: 768px) {
    .footer { 
        height: 8vh;
        padding: 1vw;
    }
    a {
        font-size: 4vw;
    }
    .icon {
        margin-right: 1.5vw;
        font-size: 4vw;
    }
    }
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer { 
        height: 8vh;
        padding: 2vw;
    }
    a {
        font-size: 3.5vw;
        margin: 2px;
    }
    .icon {
        margin-right: 1.5vw;
        font-size: 3.5vw;
    }
}
@media screen and (max-width: 1024px) {
    .footer {
        height: min-content;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        width: fit-content;   
    }
} 