* {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/howe-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative; 
    padding-top: 6vh;
    overflow-y: hidden;
    flex-grow: 1;
}

.main-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.school-name-container {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    z-index: 1;
    align-items: center;
}

.school-name {
    font-size: 2.6vw;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    z-index: 1;
    padding: 3vw;
    width: 48%;
    text-align: center;
}

.ismart-olimp-container {
    display: flex;
    justify-content: center;
    margin-top: 0.9vh;
    z-index: 1;
}

.ismart-olimp {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    color: black;
    font-size: 4.6vw;
    border: 1px solid white;
    padding: 10px 20px; 
    background-color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.info1, .info2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 2vw;
    z-index: 1;
    margin-top: 2vw;
}
.info2{
    font-size: 2.6vw;
    font-weight: 400;
}
.info2-container {
    display: inline-block;
    justify-content: center;
    margin-top: 5vh;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
}

.results-btn{
    margin-top: 6vh;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #FFFE03;
    color: #051d31;
    font-size: 1.5vw;
    z-index: 1;
    padding: 1vw 2vw;
    width: fit-content;
    align-self: center;
    border: none;
    border-radius: 50px;
}
@media screen and (max-width: 340px) {
    .main-container {
        padding-top: 0;
    }
    .school-name-container {
        margin-top: 10vh;
    }
    .school-name {
        font-size: 5vw;
        width: 90%;
    }
    .ismart-olimp {
        font-weight: 300;
        font-size: 7vw;
        margin-top: 5vh;
    }
    .info1, .info2 {
        font-weight: 200;
        font-size: 6vw;
        margin-top: 7vw;
    }
    .results-btn{
        font-size: 6vw;
        padding: 2vw 6vw;
        margin-top: 12vh;
    }
}

@media screen and (min-width: 340px) and (max-width: 768px) {
    .main-container {
        padding-top: 0;
    }
    .school-name-container {
        margin-top: 12px;
    }
    .school-name {
        font-size: 7vw;
        width: 80%;
    }
    .ismart-olimp {
        font-weight: 300;
        font-size: 8vw;
        margin-top: 10vh;
    }
    .info1, .info2 {
        font-weight: 200;
        font-size: 6vw;
        margin-top: 7vw;
    }
    .results-btn{
        font-size: 6vw;
        padding: 2vw 6vw;
        margin-top: 12vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main-container {
        padding-top: 0;
    }
    .school-name-container {
        margin-top: 0;
    }
    .school-name {
        font-size: 5vw;
        width: 80%;
    }
    .ismart-olimp {
        font-weight: 300;
        font-size: 7vw;
        margin-top: 10vh;
    }
    .info1, .info2 {
        font-weight: 200;
        font-size: 5vw;
        margin-top: 5vw;
    }
    .results-btn{
        font-size: 5vw;
        padding: 2vw 6vw;
        margin-top: 12vh;
    }
}

