body {
    margin: 0;
    padding: 0;
}

.navigation-container {
    background-color: #FFFE03;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; 
}
.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    width: 100%; 
    box-sizing: border-box;
}

#logo {
    width: 16vw;
    height: 100%;
    margin-right: 16vw;
}

.navbar a {
    margin-left: 3vw;
    list-style-type: none;
    font-size: 2vw;
    font-weight: 400;
    font-family: system-ui;
    text-decoration: none;
    box-sizing: border-box;
    color: #2F4858;
    font-weight: 700;
    position: relative;
    z-index: 1;
    text-align: center;
}
.icons-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3.5rem;
}

#icons-wh {
    font-size: 2rem;
}


@media screen and (max-width: 768px) {
    .navigation-container {
        height: 14vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    #logo {
        width: 23.8vw;
        margin-right: 0;
    }
    .navbar a {
        margin-left: 2vw;
        font-size: 3.3vw;
        font-weight: 400;
        z-index: 1;
        text-align: center;
    }
    #icons-wh {
        font-size: 4.8vw;
        margin-right: 3px;
    }
    .icons-block{
        margin-left: 1rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navigation-container {
        height: 12vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    #logo {
        width: 23vw;
        margin-right: 0;
    }
    .navbar a {
        margin-left: 2vw;
        font-size: 3vw;
        font-weight: 400;
        z-index: 1;
        text-align: center;
    }
    #icons-wh {
        font-size: 4.4vw;
        margin-right: 3px;
    }
    .icons-block{
        margin-left: 1rem;
    }
}
