body{
    margin: 0;
    padding: 0;
}
.organization-container{
    background-color: rgb(47, 47, 47);
    width: 100vw;
    height: fit-content;
    color: white;
    overflow-y: hidden; 
}
.text{
    text-align: center;
    color: #fff;
    font-size: 2vw;
    font-family: "Open Sans", Arial, sans-serif;
    width: 70vw;
    align-self: center;
    margin: 5vw auto;
    height: auto;
}
.rules{
    text-align: center;
    color: #6af33d;
    font-size: 2vw;
    font-family: "Open Sans", Arial, sans-serif;
    width: 70vw;
    align-self: center;
    margin: 5vw auto;
    height: auto;
}
.data-container{
    display: flex;
    justify-content: space-around;
    overflow: hidden; 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container img{
    width: 24vw;
    height: 40vh;
}
.photo-desc {
    margin-top: 6vh; 
    color: #fff;
}
.info{
    width: 22vw;
}
.info:last-child {
    margin-bottom: 6vh;
}
.name-links{
    display: flex;
    margin-top: 9vh;
}
.types {
    color: #fff700;
    font-size: 1.8vw;
    font-family: "Open Sans", Arial, sans-serif;
    width: fit-content;
    width: 14vw;
}
#icon{
    font-size: 1.8vw;
    margin-left: 0.8vw;
    color: #ffffff;
}
#icon:hover{
    color: #b5b5b5;
}
p{
    font-size: 1.2vw;
    margin-top: 2vh;
    color: #fff;
    margin-bottom: 0.4vw;
}


@media screen and (max-width: 340px) {
    .organization-container {
        height: auto; 
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .text,
    .rules {
        width: 95vw; 
        margin: 2rem auto;
        font-size: 5vw; 
    }
    .rules {
        margin-top: 1rem;
    }
    .data-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container img {
        width: 80%; 
        height: auto; 
    }
    .photo-desc {
        margin-top: 1.2rem;
        font-size: 1rem; 
    }
    .info {
        width: 80%;
        font-size: 0.9rem; 
    }
    .info:last-child {
        margin-bottom: 12vh;
    }
    .name-links{
        margin-top: 9vh;
    }
    .types {
        font-size: 1.3rem;
        width: 54vw;
    }
    #icon{
        font-size: 8vw;
    }
    p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 340px) and (max-width: 768px) {
    .organization-container {
        height: auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
    .text,
    .rules {
        width: 95vw; 
        margin: 4rem auto;
        font-size: 5vw; 
    }
    .rules {
        margin-top: 0.5rem;
    }
    .data-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container img {
        width: 80%; 
        height: auto; 
    }
    .photo-desc {
        margin-top: 1.2rem;
        font-size: 6vw; 
    }
    .info {
        width: 80%;
        font-size: 4vw; 
    }
    .info:last-child {
        margin-bottom: 9vh;
    }
    .name-links{
        margin-top: 9vh;
    }
    .types {
        font-size: 7vw;
        width: 58vw;
    }
    #icon{
        font-size: 8vw;
    }
    p{
        font-size: 5vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .organization-container {
        height: auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
    .text,
    .rules {
        width: 95vw; 
        margin: 4rem auto;
        font-size: 4vw; 
    }
    .data-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container img {
        width: 80%; 
        height: auto; 
    }
    .photo-desc {
        margin-top: 4vh;
        font-size: 5vw; 
    }
    .info {
        width: 80%;
        font-size: 4vw; 
    }
    .info:last-child {
        margin-bottom: 9vh;
    }
    .types {
        font-size: 5vw;
        width: 58vw;
    }
    #icon{
        font-size: 6vw;
    }
    p{
        font-size: 3vw;
    }
}

